<div class="w-full py-10 px-10 mg:px-20 2xl:px-44 text-justify">
    <div class="text-yellow-500 py-4 font-medium text-xl lg:px-8 lg:text-4xl">
        Enfin une manière simple d’envoyer et de recevoir ses colis !
    </div>

    <div class="text-yellow-500 py-4 text-xl">Envoyer ou recevoir un colis</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>Bien emballer mon colis : Attention, l'emballage est de la responsabilité du propriétaire du bien.</div>
        <div>C'est à vous de vous assurer, en tant qu'expéditeur, que l'emballage sera suffisamment protecteur.</div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Comment ça marche ?</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            Trankilo mets en relation des transporteurs (particuliers ou professionnels) et des expéditeurs qui veulent
            envoyer un colis à l’étranger ou en recevoir un de l’étranger.
        </div>
        <div>
            Grâce à notre service, le colis de l'expéditeur arrive rapidement et en toute sécurité tandis que le
            transporteur rentabilise son voyage en touchant une commission relative à la vente de ses kilos.
        </div>
        <div>
            Les particuliers proposent leurs valises vides lors de leurs voyages et les expéditeurs intéressés par
            l'envoi d'un colis sur la même destination peuvent réserver le nombre de kilos dont ils besoin, en payant
            directement sur la plateforme. Ensuite ils pourront remettre leur colis à l’un des ambassadeurs Trankilo,
            qui se chargeront d’en vérifier le contenu et de le remettre au transporteur. À l’arrivée, le transporteur
            livrera le colis au destinataire final.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Inscription</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            L’inscription sur Trankilo est totalement gratuite et est indispensable pour pouvoir expédier vos colis à
            l’étranger et aussi pour pouvoir transporter des colis.
        </div>
        <div>
            Pour vous inscrire, il vous suffira d’entrer de remplir le formulaire d’inscription en y renseignant vos
            coordonnées et votre adresse email, ou vous avez aussi la possibilité de vous inscrire directement via
            Facebook ou Google.
        </div>
        <div>
            Pour vous inscrire, vous devez renseigner tous les champs demandés : nom, prénom, date de naissance, mot de
            passe, et fournir une adresse email valide.
        </div>
        <div>
            L’inscription par Facebook n’est pas obligatoire mais vous permet de vous inscrire plus rapidement. Si vous
            avez oublié votre mot de passe, il vous faut suivre la procédure de récupération en cliquant sur "Mot de
            passe oublié", dans la fenêtre d'identification.
        </div>
        <div>
            Si un membre est inscrit avec votre numéro de téléphone, ou si un compte existe déjà avec vos identifiants
            Facebook, ou pour tout autre cas, nous vous invitons à contacter notre équipe qui vous apportera une
            réponse.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Comment et pourquoi vérifier mon numéro de téléphone ?</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            Vous êtes invité(e) à renseigner et vérifier votre numéro de téléphone portable, démarche simple et
            indispensable qui vous permettra de profiter pleinement des services de Trankilo.
        </div>
        <div>
            - Vous saisissez votre numéro de portable sur la page de vérification - Vous recevez instantanément un SMS
            contenant un code
        </div>
        <div>- Vous saisissez ce code sur la page de vérification, puis valider.</div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Comment et pourquoi faire vérifier ma pièce d’identité ?</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            Vous êtes invité(e) à renseigner et vérifier votre numéro de téléphone portable, démarche simple et
            indispensable qui vous permettra de profiter pleinement des services de Trankilo.
        </div>
        <div>
            - Vous saisissez votre numéro de portable sur la page de vérification - Vous recevez instantanément un SMS
            contenant un code
        </div>
        <div>- Vous saisissez ce code sur la page de vérification, puis valider.</div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Comment et pourquoi faire vérifier ma pièce d’identité ?</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            Pour vérifier votre pièce d’identité, rendez-vous dans Mon compte. Lors de votre toute première connexion,
            vous devez télécharger une copie de votre pièce d’identité, pour que nous pussions la vérifier. Les pièces
            d’identité acceptés sont : la carte nationale d’identité, le passeport, la carte de séjour en cours de
            validité.
        </div>
        <div>
            Vous pouvez transmettre une copie de votre Passeport ou votre Carte nationale d’identité (CNI) enregistré
            sur votre ordinateur ou votre mobile.
        </div>
        <div>
            Il est nécessaire que votre prénom et votre nom indiqués dans votre profil soient identique à ce qui
            apparaît sur votre pièce d’identité.
        </div>
        <div>
            Une fois la copie de votre pièce d'identité reçu, nous nous chargeons de vérifier votre pièce d’identité.
            Une fois acceptée, un macaron sera ajouté à votre photo de profil et nous indiquerons “Pièce d’identité
            vérifiée” sur votre Profil public.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Quel type de pièce d’identité puis-je faire vérifier ?</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            À noter : seule une photo ou une copie couleur de votre pièce d’identité est acceptée. Si vous ne parvenez
            pas à faire vérifier votre pièce d’identité, contactez-nous.
        </div>
        <div>
            La communauté Trankilo repose sur la confiance entre ses membres. Nous leur demandons de nous laisser
            vérifier plusieurs éléments de leur profil pour favoriser la fiabilité et la confiance au sein de la
            communauté.
        </div>
        <div>
            Nous avons ajouté la vérification de la pièce d’identité pour garantir davantage de sécurité sur les profils
            Trankilo. En faisant vérifier votre pièce d’identité, vous améliorerez vos chances de trouver des
            transporteurs et expéditeurs. Tous les autres membres verront que votre pièce d’identité est vérifiée et ils
            seront naturellement plus enclins à travailler avec vous !
        </div>
        <div>
            La vérification de votre pièce d’identité contribue à la confiance inspirée par votre profil et donnera
            envie aux autres membres de transporter ou expédier avec vous. Vous pouvez envoyer votre carte d’identité
            (CNI) ou votre passeport.
        </div>
        <div>
            Nous conserverons les données de votre pièce d’identité en sécurité. Nous sommes les seuls a y avoir accès,
            nous ne les partagerons avec aucun autre tiers. Nous ne procéderons à aucun contrôle de vos antécédents, de
            votre vie privée ou de votre vie professionnelle.
        </div>
        <div>
            De plus, votre pièce d’identité ne sera pas visible pour les visiteurs de votre profil Trankilo. Les autres
            membres ne verront que la mention Pièce d’identité vérifiée sur votre profil.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">Pourquoi mettre une photo de profil et comment faire ?</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            Trankilo mets en relation de personnes souhaitant effectuer expédier des colis avec des voyageurs ou
            transporteurs professionnels. Il est important et tout simplement
        </div>
        <br />
        <div>
            rassurant de voir les personnes à qui l'on va remettre son colis, notamment pour se reconnaître sur le lieu
            du rendez-vous.
        </div>
        <div>
            Les expéditeurs vont plus spontanément vers les transporteurs dont les photos de profil sont visibles, car
            c’est moins anonyme et plus rassurant.
        </div>
    </article>
</div>
