<div class="w-full py-10 px-10 mg:px-20 2xl:px-44 text-justify">
    <div class="text-yellow-500 py-4 font-medium text-xl lg:text-3xl">Conditions générales d'utilisation</div>

    <div class="text-yellow-500 py-4 text-xl">1. Objet</div>
    <article class="text-lg text-gray-500 py-3 text-justify lg:text-left">
        <div>
            La société LGM WEEB (ci-après, « Trankilo ») édite une plateforme de cobagage (ci-après, « La Plateforme »)
            accessible sur un site internet notamment à l’adresse www.trankiloapp.com, sous forme d’application mobile
            ou sous divers réseaux sociaux et destinée à mettre en relation des transporteurs/voyageurs et des
            expéditeurs désirant recevoir ou envoyer des colis.
        </div>
        <div>
            Les présentes conditions générales d’utilisation ont pour objet d’encadrer l’accès et les modalités
            d’utilisation de la Plateforme. Nous vous invitons à en prendre attentivement connaissance. Vous comprenez
            et reconnaissez que Trankilo n’est partie à aucun accord, contrat ou relation contractuelle, de quelque
            nature que ce soit, conclu entre les Membres de sa Plateforme. En tant que plateforme de mise en relation,
            Trankilo est donc uniquement un tiers à la relation entre ses utilisateurs.
        </div>
        <div>
            En cliquant sur le bouton « Connexion avec Facebook », « Connexion avec Google » ou « Inscription avec un
            email », vous reconnaissez avoir pris connaissance et accepter l’intégralité des présentes conditions
            générales d’utilisation.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">2. Définitions</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 py-3">
        <div>Dans les présentes,</div>
        <div>« Annonce » : désigne une annonce de transport déposée par un Transporteur sur la Plateforme;</div>
        <div>« CGU » : désigne les présentes Conditions Générales d’Utilisation ;</div>
        <div>« Code de Dépôt » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</div>
        <div>« Code de Livraison » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</div>
        <div>
            « Colis » : désigne le(s) bien(s) destiné(s) à être transporté(s). Les membres de la Plateforme doivent
            s’engager à n’expédier que des objets licites, et n’ayant aucun caractère de dangerosité ;
        </div>
        <div>
            « Compte » : désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder à certains services
            proposés par la Plateforme ;
        </div>
        <div>« Compte Facebook » : a la signification qui lui est donné à l’article 3.4 ci-dessous ;</div>
        <div>« Confirmation de dépôt » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</div>
        <div>« Confirmation de livraison » : a la signification qui lui est donné à l’article 4.4 ci-dessous ;</div>
        <div>
            « Confirmation de Réservation » : désigne l’opération par laquelle est confirmée une réservation sur la
            Plateforme tel que détaillé dans l’article 4.2 ;
        </div>
        <div>
            « Destinataire » : désigne la personne choisie par l’Expéditeur pour récupérer le Colis sur le Lieu de
            livraison ;
        </div>
        <div>
            « Espace » : désigne l'espace réservée par un Expéditeur dans les capacités totales mentionnées par un
            Transporteur dans son Annonce. L’Espace peut être décliné en unité tels que le poids (kg), le volume
            (litres) ou en contenant tels que les barriques, cartons, sacs ou en une combinaison des deux tels que les
            barriques de 150 litres, les cartons de 30 litres. D’autres déclinaisons d’Espace non mentionnés dans les
            exemples listés pourront être mis à disposition sur la Plateforme ;
        </div>
        <div>« Frais de réservation » : a la signification qui lui est donnée à l’article 5.2 ci-dessous ;</div>
        <div>
            « Frais de transport » : désigne, pour un Trajet donné, la somme d’argent demandée par le Transporteur et
            acceptée par l'Expéditeur au titre de la rémunération du Transporteur pour le transport du Colis ;
        </div>
        <div>« Lieu de dépôt » : désigne le lieu convenu pour la remise du Colis au Transporteur ;</div>
        <div>« Lieu de livraison » : désigne le lieu convenu pour la livraison du Colis au Destinataire ;</div>
        <div>« Membre » : désigne toute personne physique ou morale ayant créé un Compte sur la Plateforme ;</div>
        <div>« Trankilo » : a la signification qui lui est donnée à l’article 1 ci-dessus ;</div>
        <br />
        <div>« Plateforme» : a le sens qui lui est donné à l’article 1, ci-dessus ;</div>
        <div>« Réservation » : a le sens qui lui est donné à l’article 4.2, ci-dessous ;</div>
        <div>
            « Services » : désigne l’ensemble des services rendus par Trankilo par l’intermédiaire de la Plateforme ;
        </div>
        <div>
            « Trajet » » désigne le lieu de départ et le lieu d’arrivée proposé par un Transporteur pour le transport de
            Colis ;
        </div>
        <div>
            « Transporteur » : désigne toute personne physique ou morale ayant déposé une Annonce sur la Plateforme.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">3. Inscriptions sur Trankilo et création de compte</div>
    <div class="text-yellow-500 text-xl">3.1. Condition d'inscription</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            L’utilisation du site Trankilo est réservée aux personnes physiques âgées de 18 ans ou plus et aux personnes
            morales. Toute inscription sur la Plateforme par une personne mineure est strictement interdite. En
            accédant, utilisant ou vous inscrivant sur la Plateforme, vous déclarez et garantissez avoir 18 ans ou plus.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">3.2. Création de compte</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            La Plateforme permet aux Membres de publier des Annonces pour le transport de Colis et consulter des
            Annonces ainsi que d’interagir entre eux pour la réservation d'Espace. Vous pouvez consulter les Annonces
            même si vous n’êtes pas inscrit sur la Plateforme. En revanche, vous ne pouvez ni publier une Annonce de
            transport de Colis ni réserver d'Espace, sans avoir, au préalable, créé un Compte et être devenu Membre.
        </div>
        <div>Pour créer votre Compte, vous pouvez :</div>
        <div>(i) Soit remplir l’ensemble des champs obligatoires figurant sur le formulaire d’inscription ;</div>
        <div>
            (ii) Soit vous connecter, via notre Plateforme, à votre Compte Facebook ou Google. En utilisant une telle
            fonctionnalité, vous comprenez que Trankilo aura accès, publiera sur la Plateforme et conservera certaines
            informations de votre Compte Facebook ou Google.
        </div>
        <div>
            Pour vous inscrire sur la Plateforme, vous devez avoir lu et accepter les présentes CGU ainsi que la
            Politique de Confidentialité.
        </div>
        <div>
            A l’occasion de la création de votre Compte, peu importe la méthode choisie pour ce faire, vous vous engagez
            à fournir des informations personnelles exactes et conformes à la réalité et à les mettre à jour, par
            l’intermédiaire de votre profil ou en en avertissant Trankilo, afin d’en garantir la pertinence et
            l’exactitude tout au long de votre relation contractuelle avec Trankilo
        </div>
        <div>
            En cas d’inscription par email, vous vous engagez à garder secret le mot de passe choisi lors de la création
            de votre Compte et à ne le communiquer à personne. En cas de perte ou divulgation de votre mot de passe,
            vous vous engagez à en informer sans délai Trankilo. Vous êtes seul responsable de l’utilisation faite de
            votre Compte par un tiers, tant que vous n’avez pas expressément notifié Trankilo de la perte, l’utilisation
            frauduleuse par un tiers ou la divulgation de votre mot de passe à un tiers.
        </div>
        <div>
            Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, d’autres
            Comptes que celui initialement créé.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">3.3. Vérification</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Trankilo peut, à des fins de transparence, d’amélioration de la confiance, ou de prévention ou détection des
            fraudes, mettre en place un système de vérification de certaines des informations que
        </div>
        <br />
        <div>
            vous fournissez sur votre profil. C’est notamment le cas lorsque vous renseignez votre numéro de téléphone
            ou nous fournissez une pièce d’identité.
        </div>
        <div>
            Vous reconnaissez et acceptez que toute référence sur la Plateforme à des informations dites « vérifiées »
            ou tout terme similaire, signifie uniquement qu’un Membre a réussi avec succès la procédure de vérification
            existante sur la Plateforme afin de vous fournir davantage d’informations sur le Membre avec lequel vous
            envisagez de voyager. Trankilo ne garantit ni la véracité, ni la fiabilité, ni la validité de l’information
            ayant fait l’objet de la procédure de vérification.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">4. Utilisation des Services</div>
    <div class="text-yellow-500 text-xl">4.1. Publication des Annonces de Transport de Colis</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            En tant que Membre, et sous réserve que vous remplissiez les conditions ci-dessous, vous pouvez créer et
            publier des Annonces sur la Plateforme en indiquant des informations relative au Trajet que vous comptez
            effectuer (dates/heures et lieux de départ et d’arrivée, Espace disponible, moyen de transport, Frais de
            transport, etc.).
        </div>
        <div>
            Lors de la publication de votre Annonce, vous pouvez indiquer le moyen de transport que vous utiliserez pour
            acheminer le Colis. Les moyens de transport proposés sur la Plateforme sont l'avion, le bateau, la voiture
            et le train. Vous reconnaissez être le seul responsable du contenu de l’Annonce que vous publiez sur la
            Plateforme. En conséquence, vous déclarez et garantissez l’exactitude et la véracité de toute information
            contenue dans votre Annonce et vous engagez à effectuer le Trajet selon les modalités décrites dans votre
            Annonce.
        </div>
        <div>
            Votre Annonce sera publiée sur la Plateforme et donc visible des Membres et de tous visiteurs, même non
            Membre, effectuant une recherche sur la Plateforme ou sur le site internet des partenaires de Trankilo.
        </div>
        <div>
            Trankilo se réserve la possibilité, à sa seule discrétion et sans préavis, de ne pas publier ou retirer, à
            tout moment, toute Annonce qui ne serait pas conforme aux CGU ou qu’elle considérerait comme préjudiciable à
            son image, celle de la Plateforme ou celle des Services.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">4.2. Réservation d'Espace, de Barrique ou de Carton</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Trankilo a mis en place un système de réservation d'Espace en ligne (la « Réservation ») pour les Annonces
            proposées sur la Plateforme.
        </div>
        <div>
            Lorsqu’un Expéditeur est intéressé par une Annonce, il peut effectuer une demande de Réservation en ligne.
            Cette demande de Réservation est (i) soit acceptée automatiquement (si le Transporteur a choisi cette option
            lors de la publication de son Annonce), (ii) soit acceptée manuellement par le Transporteur. Au moment de la
            Réservation, l'Expéditeur procède au paiement en ligne du montant des Frais de transport et des Frais de
            réservation afférents, le cas échéant. Après vérification du paiement par Trankilo et validation de la
            demande de Réservation par le Transporteur, le cas échéant, l'Expéditeur reçoit une confirmation de
            réservation (la « Confirmation de Réservation »). Si vous êtes un Transporteur et que vous avez choisi de
            gérer vous-mêmes les demandes de Réservation lors de la publication de votre Annonce, vous êtes tenu de
            répondre à toute demande de Réservation dans un certain délai. A défaut, la demande de Réservation expire
            automatiquement et l’Expéditeur est remboursé de l’intégralité des sommes versées au moment de la demande de
            Réservation, le cas échéant.
        </div>
        <div>
            A compter de la Confirmation de la Réservation, Trankilo vous transmet les coordonnées téléphoniques du
            Transporteur (si vous êtes Expéditeur) ou de l'Expéditeur ainsi que le Code de Dépôt (si vous êtes
            Transporteur). Vous êtes désormais seuls responsables de l’exécution du contrat vous liant à l’autre Membre.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">4.3. Caractère nominatif de la réservation d'Espace</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Toute utilisation des Services, que ce soit en qualité d'Expéditeur ou de Transporteur, est nominative. Le
            Transporteur comme l'Expéditeur doivent correspondre à l’identité communiquée à Trankilo.
        </div>
        <div>
            Il est interdit de publier une Annonce pour un Transporteur autre que vous-même. Il est également interdit
            d’effectuer une réservation pour un Expéditeur autre que vous-même.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">4.4. Code de livraison</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Trankilo a mis en place un système de code qui permet de confirmer la transmission du Colis de l’Expéditeur
            au Transporteur et du Transporteur au Destinataire.
        </div>
        <div>
            A compter de la Confirmation de la Réservation, Trankilo transmet les coordonnées téléphoniques de
            l'Expéditeur ainsi qu’un Code de Dépôt au Transporteur. Lors de la remise du Colis au Transporteur par
            l’Expéditeur, ce dernier récupère le Code de Dépôt qui lui est remis par le Transporteur. Ainsi l’Expéditeur
            pourra Confirmer le Dépôt du Colis en entrant le Code de Dépôt à l’endroit indiqué de son Compte.
        </div>
        <div>
            A compter de la Confirmation de Dépôt, Trankilo transmet un Code de Livraison à l’Expéditeur. Ce dernier le
            communique au Destinataire en charge de récupérer Son Colis sur le Lieu de Livraison. Lors de la livraison
            du Colis au Destinataire par le Transporteur, ce dernier récupère le Code de Livraison qui lui est remis par
            le Destinataire. Ainsi le Transporteur pourra Confirmer la Livraison du Colis en entrant le Code de
            Livraison à l’endroit indiqué de son Compte.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">4.5. Système d'avis</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Trankilo vous encourage à laisser un avis sur un Transporteur (si vous êtes Expéditeur) qui a transporté vos
            Colis ou un Expéditeur (si vous êtes Transporteur) dont vous avez transporté les colis. Votre avis, ainsi
            que celui laissé par un autre Membre à votre égard ne sont visibles et publiés sur la Plateforme
            qu’immédiatement après que vous ayez, tous les deux, laissés un avis.
        </div>
        <div>
            Vous reconnaissez et acceptez que Trankilo se réserve la possibilité de ne pas publier ou supprimer tout
            avis, toute question, tout commentaire ou toute réponse dont elle jugerait le contenu contraire aux
            présentes CGU.
        </div>
        <div>
            Trankilo se réserve la possibilité de suspendre votre Compte, limiter votre accès aux Services ou résilier
            les présentes CGU dans le cas où (i) vous avez reçu au moins trois avis et (ii) la moyenne des avis que vous
            avez reçus est égale ou inférieure à 3.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">5. Conditions financières</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            L’accès et l’inscription à la Plateforme, de même que la recherche, la consultation et la publication
            d’Annonces sont gratuits. En revanche, la Réservation est payante dans les conditions décrites ci- dessous.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">5.2. Frais de réservation</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Trankilo prélève, en contrepartie de l’utilisation de la Plateforme, des commissions à ses utilisateurs
            (ci-après, les “Frais de réservation”). L’utilisateur sera informé avant toute application des Frais de
            réservation le cas échéant.
        </div>
        <div>
            Les Frais de réservation nous permettent de faire fonctionner notre Plateforme, de financer l’assurance des
            Colis, de garantir la présence de notre équipe ou de poursuivre l’amélioration de la Plateforme pour vous
            donner toujours plus de satisfaction et répondre toujours mieux à vos besoins. Le montant des Frais de
            réservation pour une Réservation est compris entre 0 et 25 % (avec un minimum de 1€) des Frais de
            Réservation et est déterminé en fonction du montant total des Frais de transport pour une Réservation. Les
            Expéditeurs peuvent prendre connaissance de ces Frais de réservation sur la page de paiement avant de régler
            leur réservation.
        </div>
        <div>
            Trankilo se réserve le droit de modifier à tout moment les modalités de calcul des Frais de réservation. Ces
            modifications n’auront pas d’effet sur les montants des frais des réservations effectuées par les Membres
            avant la date de prise d’effet de ces modifications.
        </div>
        <div>
            Vous reconnaissez et acceptez que Trankilo puisse, à son entière discrétion, arrondir au chiffre inférieur
            ou supérieur les Frais de transport et les Frais de Réservation.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">
        5.3. Modalités de paiement et de reversement de la Participation aux Frais au Transporteur
    </div>
    <div class="text-yellow-500 text-xl">5.3.1. Mandat d'encaissement</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            En utilisant la Plateforme en tant que Transporteur pour des Annonces, vous confiez à Trankilo un mandat
            d’encaissement du montant des Frais de transport en votre nom et pour votre compte.
        </div>
        <div>
            Par conséquent, dans le cadre d'une Annonce, et après acceptation manuelle ou automatique de la Réservation,
            Trankilo encaisse la totalité de la somme versée par l'Expéditeur. Les Frais de transport reçus par Trankilo
            sont déposés sur un compte dédié au paiement des Transporteurs.
        </div>
        <div>
            Vous reconnaissez et acceptez qu'aucune des sommes perçues par Trankilo au nom et pour le compte du
            Transporteur n'emporte droit à intérêts. Vous acceptez de répondre avec diligences à toute demande de
            Trankilo et plus généralement de toute autorité administrative ou judiciaire compétente en particulier en
            matière de prévention ou la lutte contre le blanchiment. Notamment, vous acceptez de fournir, sur simple
            demande, tout justificatif d'adresse et/ou d'identité utile.
        </div>
        <div>
            En l'absence de réponse de votre part à ces demandes, Trankilo pourra prendre toute mesure qui lui semblera
            appropriée notamment le gel des sommes versées et/ou la suspension de votre Compte et/ou la résiliation des
            présentes CGU.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">5.3.2. Versement des Frais de transport au Transporteur</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Les Expéditeurs disposent d'un délai de 24 heures, dès la livraison du Colis, pour effectuer une réclamation
            à Trankilo. En l'absence de contestation de leur part dans cette période, Trankilo considère la Confirmation
            de Livraison comme acquise.
        </div>
        <div>
            A compter de la confirmation acquise de l’ensemble des expéditions liées à votre Annonce, vous disposez, en
            tant que Transporteur, sur votre porte monnaie présent dans votre compte d’un crédit exigible qui correspond
            au montant total des Frais de transport payé par les Expéditeurs au moment de la confirmation de la
            Réservation. Ce crédit vous ai aussitôt viré sur votre compte bancaire, grâce au RIB que vous nous aurez
            préalablement fourni.
        </div>
        <div>(sous réserve que Trankilo dispose de vos coordonnées bancaires).</div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">
        6. Finalité commerciale et non-commerciale de l’utilisation de la Plateforme
    </div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Vous vous engagez à n’utiliser les Services et la Plateforme que pour être mis en relation, à titre non
            professionnel et non commercial, avec des personnes souhaitant partager la place dans leur valise durant
            leur Trajet ou réserver un Espace dans le cadre d’un Trajet maritime ou aérien.
        </div>
        <div>
            Vous vous engagez à fournir à Trankilo, sur simple demande de la part de celle-ci, une copie de votre
            justificatif de transport et/ou tout autre document de nature à attester que vous êtes autorisé à effectuer
            votre trajet.
        </div>
        <div>
            En tant que particulier, vous vous engagez à n’utiliser et la Plateforme que pour être mis en relation, à
            titre non professionnel et non commercial, avec des personnes souhaitant envoyer des colis sur un Trajet en
            Cobagage. Ainsi, en tant que Transporteur, vous vous engagez à ne pas demander des Frais de transport
            supérieurs aux frais que vous supportez réellement et susceptible de vous faire générer un bénéfice.
        </div>
        <div>
            Les professionnels (auto-entrepreneur, entreprise, association) dont l’activité sur la Plateforme est
            commerciale avec pour but de leur faire générer du bénéfice sont libres de fixer les Frais de transport
            correspondant à leur stratégie commerciale.
        </div>
        <div>
            Dans tous les cas, il appartient aux Membres de déclarer les revenus générés par l’utilisation de la
            plateforme selon les lois et règlements en vigueur et de s’acquitter de l’ensemble des taxes et impôts
            résultant du transport de Colis le cas échéant.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">7. Politique d'annulation</div>
    <div class="text-yellow-500 text-xl">7.1. Modalités de remboursement en cas d'annulation</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Seules les Annonces font l’objet de la présente politique d’annulation, Trankilo n’offrant aucune garantie,
            de quelque nature que ce soit, en cas d’annulation, pour quelque raison que ce soit. L’annulation d’une
            Annonce ou d’une Réservation par le Transporteur ou l’Expéditeur après la Confirmation de Réservation est
            soumise aux stipulations ci-après :
        </div>
        <div>En cas d’annulation imputable au Transporteur</div>
        <div>
            l’expéditeur est remboursé de la totalité de la somme qu’il a versée (c’est-à-dire la Participation aux
            Frais et les Frais de Service afférents). C’est notamment le cas lorsque le Transporteur annule un voyage.
        </div>
        <div>En cas d’annulation imputable à l’Expéditeur :</div>
        <div>
            •Si l’Expéditeur annule plus de 72 heures avant l’heure prévue pour la clôture des réservations telle que
            mentionnée dans l’Annonce, l’Expéditeur est remboursé du montant des Frais de transport.
        </div>
        <div>
            Les Frais de réservation demeurent acquis et le Transporteur ne reçoit aucune somme de quelque nature que ce
            soit ;
        </div>
        <div>
            •Si l’Expéditeur annule moins de 72 heures et plus 24 heures avant l’heure prévue pour la clôture des
            réservations telle que mentionnée dans l’Annonce, l’Expéditeur est remboursé à hauteur de la moitié des
            Frais de transport, les Frais de réservation demeurent acquis à Trankilo et le Transporteur reçoit 50% des
            Frais de transport;
        </div>
        <div>
            •Si l’Expéditeur annule moins de 24 heures avant l’heure prévue pour la clôture des réservations telle que
            mentionnée dans l’Annonce, l’Expéditeur ne reçoit aucun remboursement. les Frais de réservation demeurent
            acquis à Tankilo et le Transporteur reçoit l’intégralité des Frais de transport. •Si l’Expéditeur annule
            après l’heure prévue pour la clôture des réservations, telle que mentionnée dans l’Annonce, ou s’il ne se
            présente pas au lieu de rendez-vous pour le dépôt du Colis au plus tard dans un délai de 15 minutes à
            compter de l’heure convenue, aucun remboursement n’est effectué. Le transporteur est dédommagé à hauteur de
            la totalité des Frais de transport et les Frais de réservation sont conservés par Trankilo.
        </div>
        <div>
            Lorsque l’annulation intervient avant le départ et du fait de l’Expéditeur, l’Espaces annulé par
            l’Expéditeur pour ladite Annonce est de plein droit remis à la disposition d’autres Expéditeurs pouvant les
            réserver en ligne et en conséquence soumises aux conditions des présentes CGU. Trankilo apprécie à sa seule
            discrétion, sur la base des éléments à sa disposition, la légitimité des demandes de remboursement qu’elle
            reçoit.
        </div>
    </article>

    <div class="text-yellow-500 text-xl">7.2. Droit de rétraction</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            acceptant les présentes CGU, vous acceptez expressément que le Contrat entre vous et Trankilo consistant en
            la mise en relation avec un autre Membre soit exécuté avant l’expiration du délai de rétractation dès la
            Confirmation de Réservation et renoncez expressément à votre droit de rétraction, conformément aux
            dispositions de l’article L.221-28 du Code de la consommation.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">8. Comportement des utilisateurs et des Membres de la Plateforme</div>
    <div class="text-yellow-500 text-xl">8.1. Engagement de tous les utilisateurs de la Plateforme</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Vous reconnaissez être seul responsable du respect de l’ensemble des lois, règlements et obligations
            applicables à votre utilisation de la Plateforme.
        </div>
        <div>Par ailleurs, en utilisant la Plateforme, vous vous engagez à :</div>
        <div>
            • (i) ne transmettre à Trankilo (notamment lors de la création ou la mise à jour de votre Compte) ou aux
            autres Membres aucune information fausse, trompeuse, mensongère ou frauduleuse ;
        </div>
        <div>
            • (ii) ne tenir aucun propos, n’avoir aucun comportement ou ne publier sur la Plateforme aucun contenu à
            caractère diffamatoire, injurieux, obscène, pornographique, vulgaire, offensant, agressif, déplacé, violent,
            menaçant, harcelant, raciste, xénophobe, à connotation sexuelle, incitant à la violence, à la discrimination
            ou à la haine, encourageant les activités ou l’usage de substances illégales ou, plus généralement,
            contraires aux finalités de la Plateforme, de nature à porter atteinte aux droits de Trankilo ou d’un tiers
            ou contraires aux bonnes mœurs ;
        </div>
        <div>
            • (iii) ne pas porter atteinte aux droits et à l’image de Trankilo, notamment à ses droits de propriété
            intellectuelle ;
        </div>
        <div>
            • (iv) ne pas ouvrir plus d’un Compte sur la Plateforme et ne pas ouvrir de Compte au nom d’un tiers ;
        </div>
        <div>• (v) ne pas tenter de contourner le système de réservation en ligne de la Plateforme, notamment en</div>
        <div>tentant de communiquer à un autre Membre vos coordonnées afin de réaliser la réservation en</div>
        <div>dehors de la Plateforme et ne pas payer les Frais de réservation ;</div>
        <div>• (vi) ne pas contacter un autre Membre, notamment par l’intermédiaire de la Plateforme, à une autre</div>
        <div>fin que celle de définir les modalités du transport de Colis ;</div>
        <div>• (vii) ne pas accepter ou effectuer un paiement en dehors de la Plateforme ;</div>
        <div>• (viii) vous conformer aux présentes CGU et à la Charte de Confidentialité.</div>
    </article>

    <div class="text-yellow-500 text-xl">8.2. Engagements des transporteurs</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>En outre, lorsque vous utilisez la Plateforme en tant que Transporteur, vous vous engagez à :</div>
        <div>
            •(i) respecter l’ensemble des lois et réglementations applicables au transport de Colis, notamment ; •(ii)
            vous assurez que les Colis que vous transportez sont couverts à minima contre les risques de perte ou
            dégradation par votre assurance ou celle de l’entreprise en charge du transport ;
        </div>
        <div>•(iii) publier des Annonces correspondant uniquement à des Trajets réellement envisagés ;</div>
        <div>
            •(iv) respecter les horaires et lieux convenus avec les autres Membres tels que les lieux de rendez- vous
            pour le dépôt et la livraison des Colis ;
        </div>
        <div>•(v) ne pas faire réserver plus d’Espace que celui indiqué dans l’Annonce;</div>
        <div>
            •(vi) communiquer à Trankilo lorsqu’il vous en fait la demande, une copie de votre titre de voyage si vous
            êtes particulier ou de votre titre transport si vous êtes professionnel (auto-entrepreneur, entreprise,
            association), de votre passeport ou tout autre document attestant de votre capacité à transporter des Colis
            en tant que Transporteur sur la Plateforme ;
        </div>
        <div>
            •(vii) informer sans délais les Expéditeurs en cas d’empêchement ou de modification de l’horaire indiqué
            dans votre Annonce ;
        </div>
        <div>
            •(viii) attendre les Expéditeurs et les Destinataires sur les lieux de rencontre convenus pour le dépôt et
            la livraison des Colis au moins 30 minutes au-delà de l’heure convenue ;
        </div>
    </article>

    <div class="text-yellow-500 text-xl">8.3. Engagements des Expéditeurs</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        Lorsque vous utilisez la Plateforme en tant qu’expéditeur dans le cadre d’un voyage, vous vous engagez à :
        <div>• (i) adopter une attitude convenable et rester courtois tout au long de la transaction ;</div>
        <div>
            • (ii) en cas d’empêchement pour le Dépôt ou la Livraison du Colis, en informer sans délai le Transporteur ;
        </div>
        <div>
            • (iii) attendre le Transporteur sur le Lieu de Dépôt ou le Lieu de Livraison convenu au moins 30 minutes
            au-delà de l’heure convenue ;
        </div>
        <div>
            • (iv) Communiquer à Trankilo lorsqu’il vous en fait la demande, votre carte d’identité ou tout document de
            nature à attester de votre identité ;
        </div>
        <div>
            • (v) ne mettre dans son Colis, aucun objet, marchandise, substance, animal dont la nature, la possession ou
            le transport est contraire aux dispositions légales en vigueur ;
        </div>
        <div>
            • (vi) mettre à disposition du Transporteur et de toute autorité qui le solliciterait tout document de
            nature à justifier la possession des éléments contenus dans le Colis ;
        </div>
        <div>
            • (vii) vous assurer d’être joignable par téléphone par le Transporteur, au numéro enregistré sur votre
            profil, notamment au point de rendez-vous.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">9. Suspension de comptes, limitation d’accès et résiliation</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Vous avez la possibilité de mettre fin à votre relation contractuelle avec Trankilo à tout moment, sans
            frais et sans motif. Pour cela, il vous suffit de vous rendre dans l’onglet « Fermeture de compte » de votre
            page Profil.
        </div>
        <div>
            En cas de (i) violation de votre part des présentes CGU, notamment de vos obligations en tant que Membre
            mentionnées aux articles 6 et 8 ci-dessus, (ii) de dépassement du seuil visé à l’article 4.5 ci- dessus ou
            si (iii) Trankilo a des raisons sérieuses de croire que ceci est nécessaire pour protéger sa sécurité et son
            intégrité, celles de ses Membres ou de tiers ou à des fins de prévention des fraudes ou d’enquêtes, Trankilo
            se réserve la possibilité de :
        </div>
        <div>• (i) résilier, immédiatement et sans préavis, les présentes CGU ; et/ou</div>
        <div>• (ii) empêcher la publication ou supprimer tout avis, Annonce, messages, contenus, demande de</div>
        <div>Réservation, ou tout contenu publié par vous sur la Plateforme ; et/ou</div>
        <div>• (iii) limiter votre accès et votre utilisation de la Plateforme ; et/ou</div>
        <div>• (iv) suspendre de façon temporaire ou permanente votre Compte.</div>
        <div>• (v)Lorsquecelaestnécessaire,voussereznotifiédelamiseenplaced’unetellemesureafindevous</div>
        <div>
            permettre de donner des explications à Trankilo. Trankilo décidera, à sa seule discrétion, de lever les
            mesures mises en place ou non.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">10. Donées personnelles</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Dans le cadre de votre utilisation de la Plateforme, Trankilo est amené à collecter et traiter certaines de
            vos données personnelles. En utilisant la Plateforme et vous inscrivant en tant que Membre, vous
            reconnaissez et acceptez le traitement de vos données personnelles par Trankilo conformément à la loi
            applicable et aux stipulations de la Charte de Confidentialité.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">11. Fonctionnement disponibilité et fonctionnalités de la Plateforme</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Trankilo s’efforcera, dans la mesure du possible, de maintenir la Plateforme accessible 7 jours sur 7 et 24
            heures sur 24. Néanmoins, l’accès à la Plateforme pourra être temporairement suspendu, sans préavis, en
            raison d’opérations techniques de maintenance, de migration, de mises à jour ou en raison de pannes ou de
            contraintes liées au fonctionnement des réseaux.
        </div>
        <div>
            En outre, Trankilo se réserve le droit de modifier ou d’interrompre, à sa seule discrétion, de manière
            temporaire ou permanente, tout ou partie de l’accès à la Plateforme ou de ses fonctionnalités.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">12. Modification des CGU</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Les présentes CGU expriment l’intégralité de l’accord entre vous et Trankilo relative à votre utilisation
            des Services. Tout autre document, notamment toute mention sur la Plateforme (FAQ, Blog, etc.), n’a qu’une
            valeur informative.
        </div>
        <div>
            Trankilo pourra être amenée à modifier les présentes Conditions Générales d’Utilisation afin de s’adapter à
            son environnement technologique et commercial et afin de se conformer à la réglementation en vigueur. Toute
            modification des présentes CGU sera publiée sur la Plateforme avec une mention de la date de mise à jour et
            vous sera notifiée par Trankilo avant son entrée en vigueur.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">13. Droit applicable - litige</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>Les présentes CGU sont rédigées en français et soumises à la loi française.</div>
        <div>
            Toutes contestations ou litiges relatifs, à l'interprétation, à l'exécution ou à la rupture des présentes
            CGU seront soumises à la compétence exclusive des Tribunaux du ressort de la Cour d’appel de Paris.
        </div>
    </article>

    <div class="text-yellow-500 py-4 text-xl">14. Mentions légales</div>
    <article class="text-justify lg:text-left text-lg text-gray-500 pb-3">
        <div>
            Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie
            numérique, il est précisé aux utilisateurs du Site l'identité des différents intervenants dans le cadre de
            sa réalisation et de son suivi.
        </div>
        <div>Editeur du site</div>
        <div>
            Le site <a href="www.trankiloapp.com" class="text-yellow-500">www.trankiloapp.com</a> est édité par la
            société LGM WEEB société au capital de 1000 euros, en immatriculée au Registre de Commerce et des Sociétés
            de Nantes et ayant son siège social à Nantes.
        </div>
        <div>Responsable de publication</div>
        <div>Monsieur Louis-Gatien MICKALA, Gérant</div>
    </article>
</div>
